header{
	padding-top: 20px;
	padding-bottom: 20px;
}

.pull-left{
	padding-left: 10px;
}

.pull-right{
	padding-right: 10px;
	font-size: 28px;
	font-family: 'HelveticaNeue-Bold';
}

span{
	font-size: 28px;
	font-family: 'HelveticaNeue-Light';
}

.title{
	border-top: 2px solid #0D4B6E;
	border-bottom: 5px solid #0D4B6E;
	text-align: center;
	font-size: 24px;
	font-family: 'HelveticaNeue-Light';
}

#portfolio{
	text-align: center;
	padding: 20px;
	font-size: 28px;
	font-family: 'HelveticaNeue-Bold';
}

.thumbnail{
	border: none;
	padding-top: 20px;
}

.link{
	font-family: 'Baskerville';
	font-style: italic;
	font-size: 24px;
	color: #BB1F25;
	text-decoration: none;
}

.footer {
	background-color: #3D3D3D;
	text-align: center;
	color: white;
	position: absolute;
	height: 100px;
	width: 100%;
	font-size: 18px;
	font-family: 'HelveticaNeue-Light';
}

.content{
	margin-top: 50px;
}
